<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="org.scoutant.blokish" 
	android:versionCode="8" android:versionName="1.5"
	>
	<application android:icon="@drawable/blokish2" android:label="Blokish" android:debuggable="true" 
		android:theme="@style/scoutant">
		<activity android:name=".SplashScreen" android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".UI" android:screenOrientation="portrait"/>
		<activity android:name=".Settings" android:label="Blokish - Settings" android:screenOrientation="portrait"/>
		<activity android:name=".Help" android:label="Blokish - Help" android:screenOrientation="portrait"/>
	</application>
	<uses-sdk android:minSdkVersion="7" />
	<uses-permission android:name="android.permission.VIBRATE"/>	
</manifest>

